body{
    height: 100vh;
    background: linear-gradient(
        to right,
        #b1a38b 0%,
        #b1a38b  50%,
        #504138 0%,
        #504138 50%
    );
}
.air {
    display: flex;
    align-items: center;
}
.navbar{
    background: linear-gradient(
        to right,
        #b1a38b 0%,
        #b1a38b  50%,
        #504138 0%,
        #504138 50%
    );
}
.collapse{
    margin-left: 950px;
}

.logo {
    height: 60px; 
    width: 80px;
    margin-left: 50px;
    margin-top: 1px;
}

.container{
    width: 90%;
    margin: auto;
    border: 0.1px transparent;
    border-radius: 20px;
    height: 600px;
    background: linear-gradient(
        to right,
        #d3c2a6 0%,
        #d3c2a6 50%,
        #5a493f 0%,
        #5a493f 50%
    );
    margin-top: 120px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.div1{
    width: 400px;
    height: 400px;
    background-color:#d3c2a6;
    position: absolute;
    right: 225px;
    border-radius: 50%;
}
.shoe1 {
    width: 600px;    
    height: auto;
    border-radius: 25px; 
    margin-top: -10px;
    position: absolute;
    right: 150px;
    transform: rotate(-15deg);
}
.des{
    position: absolute;
    width: 645px;
    left: 130px;
}
.desc{
    margin-top: -150px;
    margin-left: 30px;
}
.descs{
    font-size: large;
    margin-left: 15px;
}
.descs1{
    font-size: large;
    margin-top: -18px;
}
.btn{
    color: #eadbc0;
    background-color: #504138;
    position: absolute;
    left: 230px;
    top: 100px;
}
.btn:hover{
    color: #504138;
    border: solid #504138;
}
